name: Pull Request Check

on: [pull_request, push]

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: validate manifests
        uses: instrumenta/kubeval-action@master
        with:
          files: 1 - Basic pod,2 - Deployment,3 - Service
